<h1>Add User</h1>
<form id='new_user'>
	<input placeholder='First Name' name='user[first_name]' require=true />
	<input placeholder='Last Name' name='user[last_name]' require=true />
	<input placeholder='Phone Number' name='user[phone_number]' />
	<button class='btn btn-primary' type='submit'>Add</button>
</form>